@charset "utf-8";
/* CSS Document */


.item_box { width: 100%;  padding:0; overflow: hidden;}
.item_box_wp { width: 100%; margin:-8px; padding: 0;}



.box10 { background: #4a9ebd; padding: 0; height: 100%;}
.voice_2 { width: 100%; height: 0px; position: relative; padding: 0;}
.voice_2 ul li { float: left; display: inline; width: 100%; height: 500px; color: #fff; cursor: pointer; position: relative; margin: 0; }
.voice_2 ul li.li1 { background: #4a9ebd}
.voice_2 ul li.li2 { background: #4abdb9}
.voice_2 ul li.li3 { background: #90d73d}
.voice_2 ul li.li4 { background: #e3d02c}
.voice_2 ul li.li5 { background: #e37e2c}
.voice_2 ul li.li6 { background: #cc428d}
.voice_2 .fold { width: 300px; height: 100%; text-align: center; position: absolute; top: 0px; left: 0px;}



.voice_2 .fold .txt { font-size: 24px; display: block; width: 25px; font-weight: normal; margin: 0px 38px; line-height: 25px;}
.voice_2 .unfold { width: 100%; height: 100%; display: none; position: absolute; top: 0px; left: 0px;margin-top: 0;padding: 0;
}
